<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdvancedShortcuts</key>
	<dict>
		<key>Contents</key>
		<array>
			<dict>
				<key>Command</key>
				<string>ApplyStyle</string>
				<key>Item</key>
				<dict>
					<key>Style</key>
					<dict>
						<key>_0</key>
						<dict>
							<key>Id</key>
							<string>FEDA3238-0C9B-4E99-86CE-E64858C4A06A</string>
							<key>Name</key>
							<string>Bright Contrast</string>
						</dict>
					</dict>
				</dict>
				<key>Shortcut</key>
				<string>@1</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>ApplyStyle</string>
				<key>Item</key>
				<dict>
					<key>Style</key>
					<dict>
						<key>_0</key>
						<dict>
							<key>Id</key>
							<string>68279303-CF1E-4B6F-B651-DB4B576E366D</string>
							<key>Name</key>
							<string>Pastel Spring</string>
						</dict>
					</dict>
				</dict>
				<key>Shortcut</key>
				<string>@2</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>ApplyStyle</string>
				<key>Item</key>
				<dict>
					<key>Style</key>
					<dict>
						<key>_0</key>
						<dict>
							<key>Id</key>
							<string>B4EB3F4F-D460-459E-BC94-ECEF93A885CE</string>
							<key>Name</key>
							<string>B&amp;W Soft</string>
						</dict>
					</dict>
				</dict>
				<key>Shortcut</key>
				<string>@3</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>ApplyStyle</string>
				<key>Item</key>
				<dict>
					<key>Style</key>
					<dict>
						<key>_0</key>
						<dict>
							<key>Id</key>
							<string>0A30EE56-2E4F-47EC-BFB5-D2A2C9123213</string>
							<key>Name</key>
							<string>Film F400</string>
						</dict>
					</dict>
				</dict>
				<key>Shortcut</key>
				<string>@4</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>ApplyStyle</string>
				<key>Item</key>
				<dict>
					<key>Style</key>
					<dict>
						<key>_0</key>
						<dict>
							<key>Id</key>
							<string>AAEAC642-DDFB-496E-8EA8-B4EAC12A9DA0</string>
							<key>Name</key>
							<string>Film K100</string>
						</dict>
					</dict>
				</dict>
				<key>Shortcut</key>
				<string>@5</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>SelectStyleBrush</string>
				<key>Item</key>
				<dict>
					<key>StyleBrush</key>
					<dict>
						<key>_0</key>
						<dict>
							<key>Id</key>
							<string>0C22D681-89B4-41A3-A863-F5EE32535CF5</string>
							<key>Name</key>
							<string>Dodge (brighten)</string>
						</dict>
					</dict>
				</dict>
				<key>Shortcut</key>
				<string>^@1</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>SelectStyleBrush</string>
				<key>Item</key>
				<dict>
					<key>StyleBrush</key>
					<dict>
						<key>_0</key>
						<dict>
							<key>Id</key>
							<string>9C4C5DDD-0512-4398-8C82-CC23AEEEA8BF</string>
							<key>Name</key>
							<string>Burn (darken)</string>
						</dict>
					</dict>
				</dict>
				<key>Shortcut</key>
				<string>^@2</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>SelectStyleBrush</string>
				<key>Item</key>
				<dict>
					<key>StyleBrush</key>
					<dict>
						<key>_0</key>
						<dict>
							<key>Id</key>
							<string>48A63DB1-B9BA-4070-913D-4CD32236E66F</string>
							<key>Name</key>
							<string>Add Detail</string>
						</dict>
					</dict>
				</dict>
				<key>Shortcut</key>
				<string>^@3</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>SelectStyleBrush</string>
				<key>Item</key>
				<dict>
					<key>StyleBrush</key>
					<dict>
						<key>_0</key>
						<dict>
							<key>Id</key>
							<string>E7934952-67CF-47CD-9347-81AF8E2E1810</string>
							<key>Name</key>
							<string>Shadows (recover)</string>
						</dict>
					</dict>
				</dict>
				<key>Shortcut</key>
				<string>^@4</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>SelectStyleBrush</string>
				<key>Item</key>
				<dict>
					<key>StyleBrush</key>
					<dict>
						<key>_0</key>
						<dict>
							<key>Id</key>
							<string>08578635-FDE8-4DAB-953B-620FAE64FA23</string>
							<key>Name</key>
							<string>Highlights (recover)</string>
						</dict>
					</dict>
				</dict>
				<key>Shortcut</key>
				<string>^@5</string>
			</dict>
		</array>
	</dict>
	<key>Editable</key>
	<true/>
	<key>GodModeShortcuts</key>
	<dict>
		<key>BlackRecovery</key>
		<string>f</string>
		<key>Brightness</key>
		<string>e</string>
		<key>Clarity</key>
		<string>z</string>
		<key>Contrast</key>
		<string>w</string>
		<key>Exposure</key>
		<string>q</string>
		<key>HighlightRecovery</key>
		<string>a</string>
		<key>LevelsHighlight</key>
		<string>v</string>
		<key>LevelsMidtone</key>
		<string>c</string>
		<key>LevelsShadow</key>
		<string>x</string>
		<key>Saturation</key>
		<string>r</string>
		<key>ShadowRecovery</key>
		<string>s</string>
		<key>Temperature</key>
		<string>1</string>
		<key>Tint</key>
		<string>2</string>
		<key>WhiteRecovery</key>
		<string>d</string>
	</dict>
	<key>KeyboardShortcuts</key>
	<dict>
		<key>AiEraser</key>
		<string>e</string>
		<key>ApplyAdjustments</key>
		<string>a</string>
		<key>ApplyNormalization</key>
		<string>n</string>
		<key>AutoMask</key>
		<string>b</string>
		<key>CopyAdjustments</key>
		<string>a</string>
		<key>Crop</key>
		<string>c</string>
		<key>DrawAnnotations</key>
		<string>i</string>
		<key>DrawCloningMask</key>
		<string>s</string>
		<key>DrawHealingMask</key>
		<string>q</string>
		<key>DrawMagicMask</key>
		<string>b</string>
		<key>DrawMask</key>
		<string>b</string>
		<key>EraseMagicMask</key>
		<string>e</string>
		<key>EraseMask</key>
		<string>e</string>
		<key>GradientMask</key>
		<string>l</string>
		<key>KeyStone</key>
		<string>k</string>
		<key>KeyStoneHorizontal</key>
		<string>k</string>
		<key>KeyStoneVertical</key>
		<string>k</string>
		<key>Loupe</key>
		<string>p</string>
		<key>MoveTo</key>
		<string>v</string>
		<key>Overlay</key>
		<string>h</string>
		<key>Pan</key>
		<string>h</string>
		<key>PickBasicColorCorrection</key>
		<string>d</string>
		<key>PickLumaCurvePoint</key>
		<string>u</string>
		<key>PickNormalizeToolTarget</key>
		<string>n</string>
		<key>PickRGBCurvePoint</key>
		<string>u</string>
		<key>PickWhiteBalance</key>
		<string>w</string>
		<key>RadialMask</key>
		<string>t</string>
		<key>RemoveDust</key>
		<string>o</string>
		<key>RemoveSpot</key>
		<string>o</string>
		<key>RotateFreeHand</key>
		<string>r</string>
		<key>RotateLeft</key>
		<string>r</string>
		<key>RotateRight</key>
		<string>r</string>
		<key>Select</key>
		<string>v</string>
		<key>Straighten</key>
		<string>r</string>
		<key>Trash</key>
		<string>v</string>
		<key>Watermark</key>
		<string>h</string>
		<key>ZoomIn</key>
		<string>z</string>
		<key>ZoomOut</key>
		<string>z</string>
		<key>applyAdjustments:</key>
		<string>$@v</string>
		<key>applyAutoAdjustRotation:</key>
		<string>~r</string>
		<key>applyAutoDustRemoval:</key>
		<string>~o</string>
		<key>autoAdjust:</key>
		<string>@l</string>
		<key>biggerBrush:</key>
		<string>]</string>
		<key>capture:</key>
		<string>@k</string>
		<key>checkSpelling:</key>
		<string>@;</string>
		<key>clearCompareVariant:</key>
		<string>@
</string>
		<key>clientViewerAOptionSelectedLastCapture:</key>
		<string>^@7</string>
		<key>clientViewerAOptionSelectedPin:</key>
		<string>^@1</string>
		<key>clientViewerAOptionSelectedPrimary:</key>
		<string>^@4</string>
		<key>clientViewerBOptionSelectedLastCapture:</key>
		<string>^@8</string>
		<key>clientViewerBOptionSelectedPin:</key>
		<string>^@2</string>
		<key>clientViewerBOptionSelectedPrimary:</key>
		<string>^@5</string>
		<key>clientViewerCOptionSelectedLastCapture:</key>
		<string>^@9</string>
		<key>clientViewerCOptionSelectedPin:</key>
		<string>^@3</string>
		<key>clientViewerCOptionSelectedPrimary:</key>
		<string>^@6</string>
		<key>cloneVariant:</key>
		<string></string>
		<key>copyAdjustments:</key>
		<string>$@c</string>
		<key>decreaseContrast:</key>
		<string>^$@-</string>
		<key>decreaseExposure:</key>
		<string>^@-</string>
		<key>decreaseSaturation:</key>
		<string>^~@-</string>
		<key>decreaseWBKelvin:</key>
		<string>$-</string>
		<key>decreaseWBTint:</key>
		<string>$@-</string>
		<key>decrementCaptureCounter:</key>
		<string>~@k</string>
		<key>deletePermanently:</key>
		<string>^@⌫</string>
		<key>deselectAll:</key>
		<string>$@a</string>
		<key>import:</key>
		<string>$@i</string>
		<key>increaseContrast:</key>
		<string>^$@+</string>
		<key>increaseExposure:</key>
		<string>^@+</string>
		<key>increaseSaturation:</key>
		<string>^~@+</string>
		<key>increaseWBKelvin:</key>
		<string>$+</string>
		<key>increaseWBTint:</key>
		<string>$@+</string>
		<key>invertSelection:</key>
		<string>@i</string>
		<key>lessHardness:</key>
		<string>$[</string>
		<key>moreHardness:</key>
		<string>$]</string>
		<key>moveToFolder:</key>
		<string>@j</string>
		<key>newVariant:</key>
		<string></string>
		<key>openCullingWindow:</key>
		<string>@u</string>
		<key>openExportDialog:</key>
		<string>$@d</string>
		<key>openFilterDialog:</key>
		<string>$@f</string>
		<key>performZoom:</key>
		<string>^@z</string>
		<key>printImages:</key>
		<string>@p</string>
		<key>process:</key>
		<string>@d</string>
		<key>rate0:</key>
		<string>0</string>
		<key>rate1:</key>
		<string>1</string>
		<key>rate2:</key>
		<string>2</string>
		<key>rate3:</key>
		<string>3</string>
		<key>rate4:</key>
		<string>4</string>
		<key>rate5:</key>
		<string>5</string>
		<key>resetAdjustments:</key>
		<string>@r</string>
		<key>resetExceptComposition:</key>
		<string>$@r</string>
		<key>rotateLeft:</key>
		<string>~@l</string>
		<key>rotateRight:</key>
		<string>~@r</string>
		<key>rotateSnap:</key>
		<string>~@x</string>
		<key>selectFirst:</key>
		<string>@</string>
		<key>selectFirstChildCollection:</key>
		<string>^$d</string>
		<key>selectLast:</key>
		<string>@</string>
		<key>selectNext:</key>
		<string>@</string>
		<key>selectNextCollection:</key>
		<string>^$s</string>
		<key>selectNextInspector:</key>
		<string>~@</string>
		<key>selectNextPage:</key>
		<string>~</string>
		<key>selectParentCollection:</key>
		<string>^$a</string>
		<key>selectPrevious:</key>
		<string>@</string>
		<key>selectPreviousCollection:</key>
		<string>^$w</string>
		<key>selectPreviousInspector:</key>
		<string>~@</string>
		<key>selectPreviousPage:</key>
		<string>~</string>
		<key>selectTab1:</key>
		<string>~@1</string>
		<key>selectTab2:</key>
		<string>~@2</string>
		<key>selectTab3:</key>
		<string>~@3</string>
		<key>selectTab4:</key>
		<string>~@4</string>
		<key>selectTab5:</key>
		<string>~@5</string>
		<key>selectTab6:</key>
		<string>~@6</string>
		<key>selectTab7:</key>
		<string>~@7</string>
		<key>setAsCompareVariant:</key>
		<string>$
</string>
		<key>setColorTag1:</key>
		<string>-</string>
		<key>setColorTag3:</key>
		<string>*</string>
		<key>setColorTag4:</key>
		<string>+</string>
		<key>setViewerBackgroundColor0:</key>
		<string>$1</string>
		<key>setViewerBackgroundColor1:</key>
		<string>$3</string>
		<key>setViewerBackgroundColor2:</key>
		<string>$4</string>
		<key>setViewerBackgroundColor3:</key>
		<string>$5</string>
		<key>setViewerBackgroundColor4:</key>
		<string>$6</string>
		<key>setViewerBackgroundColor5:</key>
		<string>$2</string>
		<key>showGuessPanel:</key>
		<string>@:</string>
		<key>smallerBrush:</key>
		<string>[</string>
		<key>switchBeforeAfterMode:</key>
		<string>$y</string>
		<key>toggleAlwaysShowAnnotations:</key>
		<string>j</string>
		<key>toggleBeforeAfterEnabled:</key>
		<string>y</string>
		<key>toggleBrowserDisplayStateAuto:</key>
		<string>~@b</string>
		<key>toggleBrowserDisplayStateShown:</key>
		<string>@b</string>
		<key>toggleBrowserPosition:</key>
		<string>$@b</string>
		<key>toggleCropOrientation:</key>
		<string>$x</string>
		<key>toggleExposureWarningsEnabled:</key>
		<string>@e</string>
		<key>toggleFacePanelShown:</key>
		<string>$f</string>
		<key>toggleFocusMaskShow:</key>
		<string>@f</string>
		<key>toggleFullScreen:</key>
		<string>f</string>
		<key>toggleProofMarginState:</key>
		<string>x</string>
		<key>toggleRecipeProofing:</key>
		<string>$@\</string>
		<key>toggleShowGrid:</key>
		<string>@g</string>
		<key>toggleSlideShow:</key>
		<string>@&lt;</string>
		<key>toggleToolsDisplayStateAuto:</key>
		<string>~@t</string>
		<key>toggleToolsDisplayStateShown:</key>
		<string>@t</string>
		<key>toggleToolsPosition:</key>
		<string>$@t</string>
		<key>toggleViewerShown:</key>
		<string>g</string>
		<key>trash:</key>
		<string>@⌫</string>
		<key>triggerMaskBackground:</key>
		<string>$.</string>
		<key>triggerMaskSubject:</key>
		<string>$,</string>
		<key>zoomViewer100:</key>
		<string>.</string>
		<key>zoomViewerIn:</key>
		<string>@+</string>
		<key>zoomViewerOut:</key>
		<string>@-</string>
		<key>zoomViewerToFit:</key>
		<string>,</string>
	</dict>
	<key>VersionNumber</key>
	<string>16.5.5</string>
</dict>
</plist>
